* {
  box-sizing: border-box;
  font-family: 'Source Sans Pro', sans-serif;
  margin: 0;
  padding: 0;
}

.background {
  background-image: url('../img/background.jpeg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  bottom: 0;
  left: 0;
  height: 100vh;
  position: fixed;
  right: 0;
  top: 0;
  width: 100vw;
}

.container {
  bottom: 0;
  left: 0;
  height: 100vh;
  position: fixed;
  right: 0;
  text-align: center;
  top: 0;
  width: 100vw;
  padding-top: 10%;
}

.picture {
  background-image: url('../img/dp.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 50%;
  box-shadow: 0 0 20px 0 #CCC;
  height: 100px;
  margin: auto;
  width: 100px;
}

.name {
  color: #333;
  font-size: 36px;
  font-weight: 600;
  padding: 15px 0;
  text-align: center;
}

.link {
  border-bottom: 3px solid #56B9FF;
  color: #333;
  display: inline-block;
  font-size: 16px;
  font-weight: normal;
  margin: 0 20px;
  padding: 2px 0;
  text-decoration: none;
  transition: all 0.3s;
}

.link:hover {
  color: #111;
  border-color: #379FF5;
}
